[2015-08-08 00:05] dkirkby opened #1 "Add more resample unit tests"
The resample module is currently the only one with less than 100% coverage.  This issue is to add additional unit tests to `tests/test_resample.py` to cover the lines flagged in [this coverage report](https://coveralls.io/builds/3229522/source?filename=speclite%2Fresample.py).

[2015-08-11 21:33] dcunning11235 commented on #1
Added additional tests in https://github.com/dkirkby/speclite/tree/resample_units.  Will review later:  it should be at 100% coverage but it is still showing a few exceptions/tests not covered.

[2015-08-14 17:40] dcunning11235 commented on #1
@dkirkby At 100% coverage now.  Travis build for the push done, but a second (I think for the pull) is still running.  Back after class.

[2015-08-14 23:02] #1 closed

[2015-08-14 23:20] dcunning11235 opened #3 "Add MaskedArray output option to `accumulate`"
Currently `accumulate` always returns ndarray.  When a MaskedArray is used for input (for at least one of the data_in parameters?), would be nice to automatically return a MaskedArray.  Additionally, it would be nice to have the option to force output to either a MaskedArray or (plain) ndarray.

All together, something like a `output_type` parameter that could be set to "auto", "masked", or "array

[2015-10-23 23:37] dkirkby opened #4 "Consider flux-preserving properties of algorithms"
Document which algorithms conserve flux and what this means exactly.  In case where flux is not necessarily conserved, consider adding an option to force flux conservation.

[2015-12-02 21:38] kgage opened #5 "Negative Redshifts"
The redshift module raises a ValueError if given a negative Z value (lines 109-110, 113-114)
Negative redshift values should be allowed.

[2015-12-05 03:50] kgage commented on #5
Fixed in #6

[2015-12-05 03:50] #5 closed

[2015-12-06 14:36] dkirkby opened #7 "Support multi-dim. resample"
The `resample` method currently requires that its input be 1D, i.e., a single spectrum.  Can this be generalized to to support resampling of multiple spectra with a single operation?  There are two use-cases that need to work:
 * Each spectrum has its own input wavelength grid, defined by a named input array field.
 * All spectra share the same input wavelength grid, specified by an external array

[2015-12-06 14:39] dkirkby opened #8 "Add redshift convenience wrapper functions"
The currently implemented `redshift` function is very general but cumbersome for simple cases.  This issue is to specify and implement some wrapper functions to handle the most common cases where rules do not need to be passed as a parameter.   Instead, the rules could be specified by the choice of wrapper function, or inferred based on field names.

[2016-01-22 00:22] dkirkby opened #9 "Add support for basic filter operations"
This issue has two components:
* code to calculate filter-weighted integrals and
* data files with tabulated filter curves.

Existing python implementations of the code are in:
* [desisim.filterfunc](https://github.com/desihub/desisim/blob/master/py/desisim/filterfunc.py)
* [specsim.spectrum](https://github.com/desihub/specsim/blob/master/specsim/spectrum.py)

Filter curves are collected in severa

[2016-01-22 00:55] moustakas commented on #9
There's also some filter code in
* desispec.fluxcalibration
* desispec.io.filters

Other than that, this issue has been well-described.  Thanks.

[2016-01-22 00:58] dkirkby commented on #9
I just noticed that the sdss curves in kcorrect and dessim seems to have a different provenance than those in desimodel and idlutils.  They both date to 2001, but have different headers and wavelength sampling.  Any idea if I should prefer one over the other?  For example: [here](https://github.com/desihub/desisim/blob/master/data/sdss_r0.txt) and [here](https://desi.lbl.gov/trac/browser/code/desi

[2016-01-22 01:14] moustakas commented on #9
I don't know -- this pre-dates me.  Mike Blanton and @djschlegel would presumably know.

[2016-01-22 01:15] dkirkby commented on #9
Here is a graph of the r-band curves from these two sources:
![sdss_r](https://cloud.githubusercontent.com/assets/185007/12499790/76547e16-c062-11e5-85b6-0b04c9786e21.png)

[2016-01-22 18:15] dkirkby commented on #9
@djschlegel pointed me to more recent work in [arxiv:1002.3701](http://arxiv.org/abs/1002.3701) and recommended that we use, so that is now the plan. Specifically, we will adopt the average (over camcols 1-6) reference responses of Table 4, which include an assumed airmass 1.3 APO atmosphere (as was also the case for the 2001 curves).

[2016-01-24 19:55] dkirkby commented on #9
I got the average response curves from Doi (which are not available online, but he plans to fix this).  The next question is what format they should be stored in:
* Binary vs ASCII: I vote for ASCII since it is human readable and the values are relatively low precision (so portability of machine-precision values is not an issue).
* How to capture table and column metadata in a standard way?  This

[2016-01-25 00:58] moustakas commented on #9
I agree ASCII and the ECSV format looks fine/great.

[2016-01-25 16:23] weaverba137 commented on #9
Sounds good to me, especially since speclite is already astropy-affiliated (or at least going down that path).

[2016-02-05 18:35] dkirkby commented on #9
Closed with #10, which will be included in the soon-to-be-released v0.3.

[2016-02-05 18:35] #9 closed

[2016-02-05 19:04] dkirkby opened #11 "Add more filter responses"
@moustakas has requested MzLS-z and Bok-g,r for DESI work.  This issue is to gather the data and include it in this package.  Are there any other filters we need soon?

[2016-02-13 21:52] moustakas opened #12 "ValueError: Wavelengths do not cover filter response 3330.0-10980.0 Angstrom."
One should be able to synthesize photometry in a filter that *is* covered by the wavelengths of the spectrum, even if some filters are not covered.  However, even in the latter case it would be nice if the "Wavelengths do not cover..." error was non-catastrophic and something functional (like np.nan) is returned in the bands that are either too blue or too red.

[code]

[2016-02-13 21:54] moustakas opened #13 "loading all filters with a wild card crashes impolitely"
This works fine
[code]
but this causes doom and destruction:
[code]

[2016-02-13 22:46] dkirkby commented on #13
The error message could certainly be improved here, or do you think passing a bad string should not raise a ValueError at all?

[2016-02-13 23:23] dkirkby commented on #13
This case is now unit-tested and raises a ValueError with the more helpful message:
[code]
I also added a few other new error messages to handle common problems:
[code]
I just committed the changes to the master branch.

[2016-02-14 02:36] dkirkby commented on #12
This was a bit trickier to deal with but I agree its a useful feature.  The default is still to raise an error, but I added an new `mask_invalid` boolean option to `get_ab_maggies()` and `get_ab_magnitudes()` that will silently handle errors and mask the corresponding columns in the returned table:
[code]
This results in a table with 3 masked columns:
[code]
Masked table values are a bit more flex

[2016-02-14 15:14] moustakas commented on #12
This is a perfect solution, but is there any way to suppress the predictable warning message?  For example the standard stars will never go red enough to cover all four WISE bandpasses:
[code]

[2016-02-14 16:09] moustakas commented on #12
Unfortunately this is still causing some problems with the QSOs, which only cover the 3600-10000 A wavelength range.  Normalizing the spectrum by the synthesized r-band magnitude throws the error
[code]
as before, but I can't use ```mask_invalid=True``` here because I need the normalization factor.  The r-band filter, meanwhile, only really covers the range 5500-7200 A (and indeed even the g-band

[2016-02-14 16:32] moustakas commented on #13
This look good to me; feel free to close.

[2016-02-14 16:37] moustakas opened #14 ""Wavelength values must be strictly increasing." error for monotonically increasing array"
I've double- and triple-checked that the wavelength array for the ELG basis spectra is monotonically increasing, and yet speclite.filters is still throwing an error:
[code]

[2016-02-14 18:36] #13 closed

[2016-02-14 18:45] dkirkby commented on #12
Regarding the numpy warning messages, the python [warnings module](https://docs.python.org/2/library/warnings.html) lets you silence specific warnings but I'd like to understand why you are getting this warning in the first place.  Can you try the following in a new python session:
[code]
I don't get any warnings when I do this.  Does this give you a warning, or what are you doing differently in y

[2016-02-14 19:21] dkirkby commented on #12
For cases like your 3500-10000A QSO spectrum that does not cover decam2014-r, there are two complementary approaches:
* Provide a new set of decam filter files that are truncated to eliminate long tails with small throughputs.
* Extrapolate your QSO spectrum to cover the range of the filter.

The first approach is probably the most convenient for users, but a bit dangerous because it makes implici

[2016-02-14 19:29] dkirkby commented on #14
How did you check that your wavelengths are monotonically increasing?  This test indicates that they are not:
[code]

[2016-02-14 19:39] dkirkby commented on #14
On closer inspection, there are 12 bins with zero size (shown in red below) and the dynamic range of your bin sizes is impressive (> 10 orders of magnitude !):
[code]
![dwave](https://cloud.githubusercontent.com/assets/185007/13035927/65bcb658-d30f-11e5-918e-90e514c1f8d0.png)

[2016-02-14 20:54] moustakas commented on #12
Can you add this to speclite without too much hassle?

[2016-02-14 21:00] moustakas commented on #14
I was using np.flop in Python and my own 'monotonic' function in IDL to check this, neither of which considered repeated values...argh!  In any case, indeed there were a handful of repeated wavelengths which took some time to track down. Remaking the ELG and BGS templates now, ensuring both sorted and unique wavelengths...

[2016-02-15 02:06] dkirkby commented on #14
np.flop??  (the top search result from google takes me to the Tuscarawas County Public Library, so I am intrigued!)

[2016-02-15 02:14] moustakas commented on #14
Oops, I meant np.roll()  Although the selection of Betamax videos at the Tuscarawas Library is *awesome*.

[2016-02-16 05:58] #14 closed

[2016-02-16 06:00] dkirkby commented on #12
I will implement something simple tomorrow so we can tag once you have tested it with desisim.

[2016-02-16 20:40] dkirkby commented on #12
@moustakas Does this look like it does everything you need?  http://speclite.readthedocs.org/en/latest/api/speclite.filters.FilterResponse.html#speclite.filters.FilterResponse.pad_spectrum

In the case of a filter group, this method would be called for each filter in turn (but I haven't implemented this yet).

[2016-02-16 22:48] dkirkby commented on #12
@moustakas I just pushed a release candidate to the github master branch.  The basic usage in your case is:
[code]
Of course, this is generally a dangerous thing to do (and I tried to be sufficiently cautionary in the docs) but you know what you are doing :-)

I will release this version as 0.4 once you have had a chance to stress test the changes (assuming you don't break anything).

[2016-02-19 23:56] #12 closed

[2016-02-20 00:02] dkirkby opened #15 "Consider re-enabling travis tests for numpy 1.7, 1.6"
I disabled these a while ago so this issue is to review that decision.  Note `.travis.yaml` in astropy (and its affiliated package template) considers 1.9 the default and also tests against 1.8, 1.7, 1.6.  I just filed astropy/package-template#152 in case that is about to change.

I recently disabled tests against 1.7 and 1.6 in specsim because speclite uses the new `assume_sorted` option to `scip

[2016-02-22 20:54] weaverba137 opened #16 "speclite installs extra scripts in bin/"
I just installed speclite at NERSC with desiInstall, which is just a wrapper on python setup.py install.  A number of command-line scripts appeared in the bin directory, in addition to the speclite_benchmark script.  See /global/project/projectdirs/desi/software/cori/speclite/v0.4/bin.

[2016-02-22 21:46] dkirkby commented on #16
Yikes!  Do you have some advice on how to debug this?  For the record, the following are installed into bin currently:
[code]
Here is the output from `python setup.py --verbose --dry-run install_scripts`:
[code]
I don't see any of these interloper scripts mentioned in any of the files under `speclite.egg-info` or in `astropy_helpers/setup.cfg`.

[2016-02-22 21:56] weaverba137 commented on #16
The extra scripts are the same scripts that are normally installed by astropy itself.

Still looking...

[2016-02-22 22:00] weaverba137 commented on #16
Aha, I thought this problem seemed familiar:  https://github.com/astropy/package-template/issues/111

Unfortunately no resolution as yet.

[2016-02-26 05:35] moustakas commented on #11
I have a low-priority need for the CFHTLS/Megaprime ugriz filter curves.  Peter Capak curates the best ones I'm aware of:
http://www.astro.caltech.edu/~capak/filters/index.html

[2016-02-26 17:57] dkirkby commented on #11
Do you want the new (2015) filters, the older SAGEM ones, or both?  More info [here](http://www.cfht.hawaii.edu/Instruments/Imaging/MegaPrime/specsinformation.html).

[2016-02-26 19:38] moustakas commented on #11
The older ones, i.e., the CFHTLS-epoch filters.  Thanks.

[2016-02-29 15:17] dkirkby commented on #15
A recent update to [ci-helpers](https://github.com/astropy/ci-helpers) allows testing against the numpy pre-release version also.  See the example [here](https://github.com/astropy/astropy/pull/4642).

[2016-07-14 13:51] dkirkby opened #18 "Propagate changes to astropy affiliated package template"
See changelog [here](https://github.com/astropy/package-template/blob/master/TEMPLATE_CHANGES.md).  This is needed for py3.5 compatibility (astropy/package-template#169) and for Javier's tutorial (fjaviersanchez/JupyterTutorial#10).

[2016-08-17 18:08] dkirkby commented on #18
First check that I can reproduce the problem.  The first-time setup is:
[code]
Next, in a new shell:
[code]
The error is:
[code]

[2016-08-17 18:18] dkirkby commented on #18
I already have a remote pointing to the original template repo:
[code]
Pull in the changes:
[code]
There are a bunch of conflicts:
[code]

[2016-08-17 18:31] dkirkby commented on #18
Use HEAD for: `__init__.py`, `setup.cfg`, `README.rst`

Edit to resolve conflicts for: `setup.py`, `.travis.yml`

Ignore files that (re)created by the merge: `TEMPLATE_CHANGES.md`, `packagename/*`

Stage the changes:
[code]

Git status now reports:
[code]
Finally, commit the changes:
[code]

[2016-08-17 18:47] dkirkby commented on #18
Update `CHANGES.rst` to summarize the changes:
- Update to latest astropy affiliate package template.
- Drop support for python 2.6 and add support for python 3.5.
- Add testing against LTS release of astropy.
- Drop testing against numpy 1.6 and add numpy 1.11.

[2016-08-17 19:28] dkirkby commented on #18
I accidentally clobbered the scipy and pyyaml installs when I updated `.travis.yml` and picked up an un-necessary `Cython` dependency.  Update as follows (see [here](https://github.com/astropy/ci-helpers#travis) for details on the env vars used in `.travis.yml`):
[code]
Should I set this var for the tests that use matplotlib?
[code]
Push changes without this and see if the PR tests work...

[2016-08-20 20:21] dkirkby commented on #11
LSST filters are included in #19

[2016-08-20 20:27] dkirkby commented on #15
The `assume_sorted` option is no longer being used.  After the travis update in #18, tests against numpy 1.7 are re-enabled (and passing) and support for 1.6 has been dropped (by astropy).

[2016-08-20 20:27] #15 closed

[2016-08-21 20:27] moustakas commented on #11
Any progress on tracking down the BASS and MzLS filter curves? With the inclusion of the first round of MzLS and BASS photometry in the Legacy Survey DR3, it would be great to be able to synthesize photometry in the "northern" filters.  Maybe you can remind me where we  left off and let me know what I can do to help track the curves down.

[2016-08-22 16:36] dkirkby commented on #11
@moustakas Can you let me know when you actually need this so I can prioritize?

[2016-08-22 17:12] moustakas commented on #11
This isn't pressing at all, it was just on my mind.  But I'll let you know when/if this moves to the critical path!

[2016-08-22 18:40] dkirkby commented on #18
Fixed in #19

[2016-08-22 18:40] #18 closed

[2016-08-22 20:37] dkirkby commented on #8
Using a new `redshift_api` branch to work on this now...

[2016-08-23 10:53] moustakas opened #20 "add band_shift option"
Are you familiar with synthesizing photometry using a band_shifted filter curve? By band-shifting the filter curve to the median redshift of the sample you minimize the K-correction -- see Section 2.3 of http://arxiv.org/abs/astro-ph/0205243.

The option could either be added to ```load_filters``` by simply dividing the filter wavelength array by ```(1+band_shift)```, or it could be an optional in

[2016-08-23 15:51] dkirkby commented on #20
Do you want to calculate AB magnitudes using band-shifted filter curves, or evaluate K corrections?  The filters module already has support for arbitrary filter convolutions, so it would straightforward to implement the denominator of equation (11) in the paper (below) if that's what you actually need.

![eqn11](https://cloud.githubusercontent.com/assets/185007/17898995/9b151f8a-690e-11e6-8312-5e0

[2016-08-23 21:29] moustakas commented on #20
Calculating and returning k-corrections would be a nice future feature, but
all I need right now is to get the AB magnitudes and maggies via a
band-shifted filter curve.

On Aug 23, 2016 11:51 AM, "dkirkby" <notifications@github.com> wrote:

[2016-08-26 15:19] dkirkby commented on #20
The `load_filter(s)` methods cache previously used curves by name, but that would break if the same name could be used with different shifts.  Therefore, it will be easier to add `band_shift` (or `band_redshift`?) as an optional parameter to methods that use a previously loaded filter.

By the way, is there an equivalent calculation that applies a redshift factor (1+z)/(1+z0) to the spectrum of an

[2016-08-26 16:35] moustakas commented on #20
I leave it up to you to decide what to call the optional input.  ```band_shift``` has the advantage of historical (SDSS) precedent, and also note that the bandpasses is *blueshifted* by ```1+band_shift```, so ```band_redshift``` may cause confusion.  Maybe ```band_blueshift``` would work?

As for an equivalent calculation using the spectrum of the object, no I don't think it works out -- I'm prett

[2016-08-26 17:32] dkirkby commented on #20
Now I am confused!  I am looking at eqn (10) in the paper, which divides *frequency* by (1 + z0), so isn't this a redshift?

[2016-08-26 17:45] moustakas commented on #20
I'm in an all-day meeting so can't look at this in detail right now, but here's Blanton's C implementation:
https://github.com/blanton144/kcorrect/blob/master/src/k_projection_table.c

See especially this [comment](https://github.com/blanton144/kcorrect/blob/master/src/k_projection_table.c#L21-L24) and [code tidbit](https://github.com/blanton144/kcorrect/blob/master/src/k_projection_table.c#L133-L

[2016-08-26 18:26] dkirkby commented on #20
Perhaps @blanton144 can shed some light on this?

Michael: we are trying to reconcile eqn (10) of http://arxiv.org/abs/astro-ph/0205243, where z0 *redshifts* the filter:

![bandshift](https://cloud.githubusercontent.com/assets/185007/18016044/28836490-6b7f-11e6-9bfc-af5c9c49a51c.png)

with the [kcorrect code](https://github.com/blanton144/kcorrect/blob/master/src/k_projection_table.c#L139) which a

[2016-08-26 18:39] dkirkby commented on #20
I created PR #22 so you can see what I have so far.

[2016-08-28 22:29] blanton144 commented on #20
I think Equation (10) is correct, and that it is blueshifting the filter.

Say the peak of R is at frequency nu0. Then the peak of ^{z0}R should be at nu0*(1+z0), that is it should be blueshifted to higher frequency. In Equation (10) this means ^{z0}R(nu0*(1+z0)) = R(nu0*(1+z0)/(1+z0)) = R(nu0), which is exactly what we want to be the case.

Right? I'm a little road-tired right now so maybe I'm no

[2016-08-28 22:30] blanton144 commented on #20
And, I guess it doesn't take long for people to notice you've moved your repo to github.

[2016-08-31 18:53] weaverba137 opened #23 "Imports in Python 3"
speclite does not correctly import internal packages in Python 3.

For example in `__init__.py`:

[code]

For Python 3 support, this should be:

[code]

[2016-09-02 16:45] dkirkby commented on #23
Do the current imports actually fail in py3?  I guess my unit tests don't catch that -- so much for 100% coverage!  How did you catch this?

[2016-09-02 16:48] dkirkby commented on #23
For reference, here is the [relevant section of PEP8](https://www.python.org/dev/peps/pep-0008/#imports).

[2016-09-02 16:52] weaverba137 commented on #23
Yes, the imports failed during tests of desispec.  The problem with the PEP8 guide is that the definition of "absolute import" has changed in Python 3.  Try running that same code in Python 2, but with `from __future__ import absolute_import`.

[2016-09-02 16:59] dkirkby commented on #23
@moustakas I would like to take this opportunity to remove the `import filters` line from `__init__.py`.  I took a quick look at desisim and I don't think this will break anything there.  Specifically, `speclite.filters` is only imported in `desisim.templates` and always using:
[code]
I found one instance of `import speclite` in [desispec.io.filters](https://github.com/desihub/desispec/blob/c79c03

[2016-09-02 18:09] moustakas commented on #23
As far as I know just ```desisim.filters``` and the flux-calibration piece of ```desispec``` use the filter stuff.

[2016-09-02 18:53] #20 closed

[2016-09-02 18:59] dkirkby commented on #23
I just fixed the relative imports and removed `import filters` on master.

[2016-09-02 18:59] #23 closed

[2016-09-07 14:44] dkirkby commented on #8
I ended up reimplementing the redshift transforms and putting most of the API changes into a new utility module so they can be re-used for the other transform methods.

[2016-09-27 05:44] sbailey opened #24 "speclite slow to import"
On both my laptop and at NERSC, speclite takes ~10x longer to import than other packages, even heavyweight ones like numpy.  e.g. on my laptop:

[code]

At NERSC, speclite can take 5-10 seconds for a single process to import it.

Within `speclite/__init__.py`, the primary culprit is `import filters`, though `from ._astropy_init import *` is also fairly slow.  Within `filters.py`, these astropy imp

[2016-09-28 00:50] dkirkby commented on #24
Thanks for raising this issue, which I was completely unaware of.  The master branch no longer does `import filters` but this didn't get into v0.5.  The remaining time is all due to `_astropy_init`:
[code]
I inherited the `_astropy_init` import from their affiliated pkg template, but I will investigate speeding it up.

[2016-09-28 01:00] dkirkby commented on #24
I asked the astropy experts for advice at astropy/package-template#196.

[2016-09-28 17:25] dkirkby commented on #24
It looks like the irreducible overhead is from the following import chain, which is triggered by the import of any astropy package:
[code]
On the positive side, you only have to pay this price once because of python's internal import logic, so `import speclite` is much faster once any other astropy package has been imported.  For example:
[code]
This means that importing speclite should have negli

[2016-09-28 17:45] dkirkby commented on #24
Could someone try running this profile on cori and compare with what I get on my laptop, to investigate the subprocess performance:
[code]

[2016-09-28 18:00] tskisner commented on #24
On edison, I get "all zeros" for those numbers:

[edison ~]$ module load desi-conda

[edison ~]$ python
Python 2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 2016,
17:42:40)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and h

[2016-09-28 18:17] dkirkby commented on #24
Ok, so creating a single subprocess from python shouldn't be a particular bottleneck on cori?

[2016-09-28 18:24] tskisner commented on #24
cori is offline, but edison and cori should be the same.  The anaconda
stack is installed to /global/common, which is a fast disk and mounted
read-only on the compute nodes.  I ran the requested test on an edison
login node.  Spawning subprocesses from setup.py at install time is
fine.

However, if you are spawning subprocesses from inside a package, and
that package is being run by one process be

[2016-09-28 18:31] dkirkby commented on #24
No, this is at runtime when you first import the package into a python interpreter.

[2016-09-28 18:34] tskisner commented on #24
But speclite being run from an installed location, outside of a git
checkout...  How can it be using git commands then?  Guess I should go
look at the source.

On Wed, Sep 28, 2016 at 11:31 AM, David Kirkby
<notifications@github.com> wrote:

[2016-09-28 18:52] dkirkby commented on #24
Astropy packages enhance the usual version attribute with a githash attribute:
[code]
The way this is implemented is that the import runs code that creates a subprocess to call `git rev-parse HEAD` (or something like that) and save the result.  The relevant code is in `speclite/version.py`, which you won't find on github since it is created at install time.

[2016-09-28 19:18] sbailey commented on #24
If I understand that code correctly, it doesn't actually spawn a subprocess command unless it finds a .git directory.  So for an installed copy it does spend time walking the directory tree but not spawning commands.  This could still be a slowdown factor for N>>1 parallel processes at NERSC hitting the same disk.

However, I suspect that a "python setup.py develop" install would find a .git direc

[2016-09-28 21:56] dkirkby commented on #24
It looks like importing speclite should have a negligible impact on the desispec startup time, since desispec.io already imports 265 (!) astropy modules:
[code]
I can confirm this empirically since commenting out the line `import speclite.filters` in `desispec.filters` does not change the time (~1.25s) required to `import desispec.io` on my laptop.

[2017-01-25 22:17] zpace opened #25 "pad_spectrum does not fully obey axis argument"
The `FilterResponse` object's `pad_spectrum` method appears to not add elements along the correct axis. For example...

    import numpy as np, astropy.units as u, speclite.filters as filters
    # 1-dim wavelength array
    lam0 = np.arange(3800., 5500., 1.) * u.AA
    # compatible datacube shape
    flam0 = np.tile(np.ones_like(lam0.value)[..., None, None], (1, 20, 20)) * \
        u.Unit('1e-17

[2017-03-01 11:16] julienguy opened #26 "Error in speclite/filters.py with Python 3.5.2 :: Anaconda 4.2.0 (64-bit)"
I have the following error with Python 3.5.2 :: Anaconda 4.2.0 (64-bit)

  File "/home/guy/software/DESI/speclite/speclite/filters.py", line 1277, in __init__
    if isinstance(response, basestring):
NameError: name 'basestring' is not defined

[2017-03-01 11:18] julienguy commented on #26
replacement with isinstance(entry,str) works.

[2017-03-01 15:49] dkirkby commented on #26
Thanks for reporting this.  I don't think your fix is backwards compatible to python 2.7, but python 3.x compatibility should be handled automatically at the time you install the package so I am guessing you are running from a git clone without running `setup.py`?  If so, try running:
[code]
and see if that fixes the problem.  I can probably fix this so the install setup is not necessary, but it w

[2017-03-02 16:03] julienguy commented on #26
Yes. I was running from a git clone. I checked that going back to the original code and doing the setup.py install fixed the issue.

However, it's not totally straightforward.  In order to install with setup.py in a custom directory (not to mix different sources), I had first to edit my PYTHONPATH before installing to avoid curious error messages.
Just to give you all the info. The following works

[2017-03-21 17:24] grburgess opened #30 "FilterSequence get_abmag as array?"
Do you think it would be easy to have an option to have FilterSequence.get_ab_magnitudes have an option to return an array instead of a table?

Currently, I need to do this type of operation:

[code]

because I may mask some of the filters if a user wants to do a fit without them.  Like so:

[code]

where self._mask is a numpy boolean array. I am not sure how to do this cleanly with a table and Ta

[2017-03-21 18:14] dkirkby commented on #30
If you just want to drop some columns from the returned table, you could use, e.g.
[code]
Alternatively, you could use, e.g.
[code]

[2017-03-22 10:49] grburgess commented on #30
Ok. This was actually a little slower than using the pandas conversion. Strange. I bet a straight numpy array would be much faster. The problem is that this routine is called by the fitting engine as right now it is rather slow.

I'll see if I can get a working version of my idea going. Ideally, one would call sdss.get_ab_magnitudes(blah,blah, as_array=True)

[2017-03-22 13:15] grburgess commented on #30
@dkirkby also, here is the idea of what we are using:
https://github.com/giacomov/3ML/blob/photo_like/examples/Photometry_demo.ipynb

[2017-06-22 13:56] moustakas commented on #11
Information about the BASS filters is here (thanks to Hu!):
http://batc.bao.ac.cn/BASS/doku.php?id=datarelease:telescope_and_instrument:home#filters

The direct links to the g- and r-band filters are:
http://batc.bao.ac.cn/BASS/lib/exe/fetch.php?media=datarelease:telescope_and_instrument:bass-g.txt
http://batc.bao.ac.cn/BASS/lib/exe/fetch.php?media=datarelease:telescope_and_instrument:bass-r.txt

[2017-12-08 23:58] moustakas opened #34 "speclite.filters.get_ab_maggies alters input wavelength array?"
In https://github.com/imcgreer/simqso/issues/20 @imcgreer identified an issue in which the `speclite.filters.get_ab_maggies` method appears to alter the input wavelength array.  See, specifically, [this comment](https://github.com/imcgreer/simqso/issues/20#issuecomment-350386964) and the subsequent one.

However, I can't reproduce this with a MWE (see below).  Do you have any thoughts?

[code]

[2017-12-09 00:27] dkirkby commented on #34
[These lines](https://github.com/dkirkby/speclite/blob/master/speclite/filters.py#L1329) will modify the input wave array under certain conditions:
 - `validate_wavelength_array()` does not need to make a copy, e.g., to strip units or convert from python to numpy array.
 - the filter response is zero for some of the wavelengths in the input array.

However, I am also unable to reproduce this with

[2017-12-12 01:53] giacomov opened #35 "Recipe in conda-forge"
Hi,
I just submitted a pull request to the `conda-forge` organization containing a recipe for `speclite`:

[4598](https://github.com/conda-forge/staged-recipes/pull/4598)

I hope this is welcome (if not, of course, I can delete the pull request).

I'd also add @dkirkby among the maintainer of the recipe, so you can keep an eye on it and modify it if you think it is necessary. Is it ok?

Thank you

[2017-12-12 16:31] dkirkby commented on #35
Thanks @giacomov!  It doesn't look like you need any changes here, but let me know otherwise.

[2018-03-07 04:56] weaverba137 commented on #26
I just want to note that having `python setup.py install` deal with instances of `basestring` is not necessarily future-proof.  If this capability is provided by astropy, then it may go away as soon as right now, since Astropy does not support Python 2 after 3.0.

[2018-08-17 21:16] sbailey commented on #11
@dkirkby or others.  We will need the MzLS-z and Bok-g,r filters to wrap this up for DESI.  Could we add these by early September to include in the next DESI software release?  For now flux calibration code is still falling back to DECam filters for everything.

[2018-08-17 23:25] moustakas commented on #11
Here are the latest set of filter curves I'm aware of, courtesy @schlafly:
https://desi.lbl.gov/trac/attachment/wiki/ImagingStandardBandpass

[2018-08-21 15:27] dkirkby commented on #35
Closing since this was merged into conda-forge Dec 2017.

[2018-08-21 15:27] #35 closed

[2018-08-21 15:31] dkirkby commented on #24
Closing since I think we agreed that speclite has no incremental startup penalty, beyond the overhead of importing any astropy pkg.   Please re-open if there is new info.

[2018-08-21 15:31] #24 closed

[2018-08-21 15:40] dkirkby commented on #30
Is this still a blocking factor for your project @grburgess?

[2018-08-21 15:45] dkirkby commented on #16
My reading of pypa/setuptools#395 is that this is considered expected behavior and will not be fixed.  Do you agree @weaverba137?

[2018-08-21 15:49] weaverba137 commented on #16
I agree that this is expected behavior when running `python setup.py install`.  However, what is the expected behavior when running `pip install`?  My current belief is that `pip install` is the way forward.  And in any case, we're pip installing into the desiconda package.

[2018-08-22 06:33] #11 closed

[2018-08-27 23:13] moustakas commented on #26
I just ran into the same issue, namely, `NameError: name 'basestring' is not defined`.  I tried cloning the master repo and added that to my `PYTHONPATH` by hand and I also tried cloning and then running `python setup.py install`, and ran into the same issue.  (Installing the last stable version using `pip` works, but I need the filters added in #37.)

I'll change `basestring` to `str` in my local

[2018-08-29 14:36] moustakas opened #39 "do the filter curves really have the atmosphere included?"
@dkirkby The filters purport to have the atmosphere included
https://speclite.readthedocs.io/en/latest/filters.html
but, e.g., the SDSS i-band filter appears to be missing the telluric bands around ~7500 A, e.g.
https://www.sdss.org/instruments/camera/#Filters

Any thoughts?

[2018-08-30 19:04] dkirkby commented on #26
In other packages I have replaced `basestring` with `six.string_types`. Does that sound sufficiently future proof @weaverba137?

[2018-08-30 20:11] moustakas commented on #39
I'm not certain.  Let me ask on-list.

[2018-08-30 21:08] moustakas commented on #39
Actually, this issue just affects the SDSS filters, right?  So let's just stick with X=1.3.  Thanks.

[2018-08-31 15:04] weaverba137 commented on #26
`six` is a fine choice, and most astropy-affiliated packages already use it.  Another way is to simply stop supporting Python 2.  Astropy itself is doing that.

[2018-08-31 15:34] dkirkby commented on #26
I would love to drop python 2, but I don't want to be the first one to break the DESI stack.  Do we have a date for dropping python 2 support?

[2018-09-11 21:41] sbailey commented on #26
There are corners of the DESI code that no longer support python 2 and we officially *don't* support it since the 18.6 release, though it does still work for much of the DESI code.  If speclite imports (not just speclite usage) no longer worked with py2, that would effectively finish off our historical support of py2.  That would be ok.

Alternatively, back when we actively supported py2, we had c

[2018-10-10 15:21] moustakas opened #40 "add Gaia filter response functions"
May be useful for some applications to be able to synthesize Gaia magnitudes from spectral templates.

[2019-01-09 20:32] pllim opened #42 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [ ] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-03-15 15:29] londumas commented on #26
Just to say, although I bet you know, that this is still an issue.
and replacing `if isinstance(response, basestring):` by `if isinstance(response, str):` do the job.

[code]

[2019-03-15 15:32] londumas opened #44 "Warning from future non-tuple"
I get this warning message, running quickquasar.
It is only a warning for now, but it might be useful to fix it before it becomes an error.

[code]
[code]

[2019-03-26 04:36] londumas commented on #44
@dkirkby, I can not push a branch to you pakage to correct this, can we take care of that?
[code]

[2019-03-26 12:13] dkirkby commented on #44
Thanks for following up on this. I just added you as a collaborator so you can make a PR.

[2019-04-03 16:44] fjaviersanchez opened #47 "Euclid throughputs"
I just found the latest current best estimate of Euclid's filters for VIS here:
http://euclid.esac.esa.int/epdb/db/SC456Draft/SC456Draft/SpaceSegment.PLM.PLMTransmissionVISCBENominalEOL.table

And for NISP here:
http://euclid.esac.esa.int/epdb/db/SC456Draft/SC456Draft/SpaceSegment.PLM.PLMTransmissionNISPCBENominalEOL.table

I still have to decode what each column means but, as soon as I do so, I'l

[2019-04-03 17:17] fjaviersanchez commented on #47
So the different columns correspond to different points in the focal-plane

The throughputs are the current best estimate at the end of life. I am going to add the throughputs corresponding to F1.

[2019-04-03 17:27] fjaviersanchez commented on #47
The H, J and Y filters for NISP are here: http://euclid.esac.esa.int/epdb/db/SC456Draft/SC456Draft/SpaceSegment.Instrument.NISP.NISPHTransmissionCBENominalEOL.table
http://euclid.esac.esa.int/epdb/db/SC456Draft/SC456Draft/SpaceSegment.Instrument.NISP.NISPJTransmissionCBENominalEOL.table
http://euclid.esac.esa.int/epdb/db/SC456Draft/SC456Draft/SpaceSegment.Instrument.NISP.NISPYTransmissionCBENomina

[2020-07-22 18:53] sbailey opened #54 "speclite v0.9 installation problems"
speclite v0.9 isn't on pypi yet so I'm trying to install with pip directly from GitHub.  If I use either of these, it doesn't seem to include the filter responses:
[code]
e.g.
[code]
However, if I clone the repo and use `python setup.py install` it seems to work fine:
[code]

Ideal would be to deploy to pypi so that normal `pip install speclite` works.  Otherwise it would be helpful to know a 1-li

[2020-07-22 20:33] sbailey commented on #54
Actually, it is worse than I originally reported: `python setup.py install` from a git clone also doesn't work (which at least makes sense compared to the other failures).  The previous test that appeared to be working was because I was sitting in the speclite/ directory and it was finding the filters it needed starting from that local path.

@dkirkby @weaverba137 please help fix the speclite inst

[2020-07-22 20:39] weaverba137 commented on #54
When you say you were in the speclite directory, was that the top-level git checkout directory or the Python package directory?

[2020-07-22 20:46] sbailey commented on #54
I was in the in the top level git checkout (i.e. the "`...`" in the above represents the installation output messages, not any additional commands I issued after ccing into the top level git checkout).

FWIW, it works to use speclite without installing it, by adding the top level git clone directory to `$PYTHONPATH`.  It is only the installation procedure that seems to be missing the necessary dat

[2020-07-22 22:25] weaverba137 commented on #54
A few data points:

* I tried doing `python setup.py install --prefix ...` (to keep the install separate from anything else) from a git clone where I explicitly checked out tag `v0.9`.
* The `speclite/data` (in the Python package) directory was not installed at all, so that's the big problem here.
* The install was placed in `python3.6/site-packages/packagename-0.9.dev528-py3.6.egg`, so not only i

[2020-07-27 21:15] weaverba137 opened #57 "Is speclite.readthedocs.io updated?"
When we moved speclite, did the configuration of https://speclite.readthedocs.io/en/latest/ get updated?

[2020-07-27 21:23] #54 closed

[2020-07-27 22:20] dkirkby commented on #57
I just updated the repo URL in the RTD config.  Are there any other changes you think we need?

[2020-07-27 22:27] weaverba137 commented on #57
I just visited https://speclite.readthedocs.io/en/latest/, and it still says that it was last updated in 2018.  I'm guessing that automated builds are broken.

[2020-07-27 22:38] dkirkby commented on #57
Ok, I just triggered a manual build of "latest", which dies as expected. Log is at https://readthedocs.org/api/v2/build/11541017.txt

[2020-07-27 22:43] weaverba137 commented on #57
Looks like you need to change the build to Python 3.

[2020-07-27 22:51] dkirkby commented on #57
Good catch.   Fixed, and now the error looks like a legacy astropy issue: https://readthedocs.org/projects/speclite/builds/11541086/

[2020-07-27 22:52] dkirkby commented on #57
I will add you as an RTD maintainer if you send me your username.

[2020-07-27 23:48] weaverba137 commented on #57
https://speclite.readthedocs.io/en/latest/ is building successfully again.  Had to add `sphinx-astropy` package.

[2020-07-27 23:48] #57 closed

[2020-07-31 10:52] redeaglekr opened #58 "AB magnitudes not correctly predicted"
Hi,

I am using speclite for one of my project. I wanted check whether speclite's get_ab_magnitude function correctly predicts the magnitudes, as given in SDSS object explorer. So I downloaded a fits spectra of an object at RA = 190.269777714638  Dec = 37.6625678269159. The wavelength axis was not covering the u - band and z - band range, so I padded the spectrum and tried to get the magnitudes us

[2020-07-31 15:21] dkirkby commented on #58
Padding of u and z will underestimate the flux and should only be used when you know the padded wavelengths have no flux.

For gri, you are comparing synthetic magnitudes (i.e., derived from the spectra) with magnitudes from SDSS imaging. I am not sure what level of agreement to expect, but you cannot compare these directly.

The best test would be to compare with SPECTROSYNFLUX calculated from th

[2020-07-31 23:26] weaverba137 commented on #44
This was closed by #52.

[2020-07-31 23:26] #44 closed

[2020-07-31 23:28] weaverba137 commented on #47
This was apparently fixed by #48.  Reopen if that's wrong.

[2020-07-31 23:28] #47 closed

[2020-07-31 23:31] weaverba137 commented on #26
This was apparently fixed by #46.  Reopen if that's incorrect.

[2020-07-31 23:31] #26 closed

[2020-07-31 23:32] weaverba137 commented on #30
Closing, having never heard a reply from @grburgess.

[2020-07-31 23:32] #30 closed

[2020-07-31 23:33] weaverba137 commented on #39
@moustakas, does this issue need to remain open?

[2020-08-01 12:45] #58 closed

[2020-10-29 19:56] pllim opened #59 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-11-04 07:26] sbailey opened #60 "speclite v0.9 pip install failure"
The new speclite pypi v0.9 tag is failing pip installs with:
[code]

@dkirkby please check and fix.  Thanks.

@schlafly this is current blocking factor for desihub/surveysim#73 travis failures, though I may try downgrading to v0.8 which previously worked.  Mentioning @dmargala as recently wanting this v0.9 tag on pypi.

[2020-11-04 16:28] dkirkby commented on #60
@sbailey can you test with:
[code]
If that works, then I can tag v0.10 and upload to  pypi.

The longer term fix is probably to abandon the astropy affiliated package infrastructure used by speclite (and specsim) since it has changed substantially and seems to cause more problems than it solves these days.

[2020-11-05 16:49] sbailey commented on #60
Yes, that works for me.  Please tag v0.10 and upload to pypi.  Thanks.

[2020-11-18 19:26] sbailey commented on #60
@dkirkby could you make this v0.10 tag and upload to pypi for use in our next software release?  Thanks.

[2020-11-23 10:41] ntessore commented on #60
@dkirkby Our project also needs this fixed. Installing from git works for me as well.

[2020-11-23 23:37] dkirkby commented on #60
@sbailey @ntessore I just tagged v0.10 and [uploaded to pypi](https://pypi.org/project/speclite/).  Sorry for the delay.

For the record, these are the steps I used:

1. Remove "dev" from the version in `setup.cfg`
2. Set the release date in `CHANGES.rst`
3. Commit these changes and git tag new version.
4. Increment version and append "dev" in `setup.cfg`
5. Start a new entry for the new version i

[2020-11-23 23:42] ntessore commented on #60
@dkirkby We're still getting the same error on our CI runs:

[code]

[2020-11-24 00:09] dkirkby commented on #60
@ntessore Ok, thanks for checking.  Are you seeing the same thing @sbailey?

I can reproduce this now, but I am not sure what is causing it.  The `generate_version_py` function is defined in astropy-helpers [here](https://github.com/astropy/astropy-helpers/blob/master/astropy_helpers/version_helpers.py#L215) and does not require any arguments.  Any ideas??

[2020-11-24 00:52] weaverba137 commented on #60
Are you using a version of Astropy-helpers that is compatible with Astropy 4?

[2020-11-24 01:04] dkirkby commented on #60
The pypi release bundles astropy-helpers 4.0.1.   Do you know if that is compatible?

[2020-11-24 01:06] ntessore commented on #60
@dkirkby The sdist bundles astropy_helpers 1.0.2 actually.

[2020-11-24 01:33] dkirkby commented on #60
@ntessore I did check the tarball earlier but only looked at `astropy_helpers/CHANGES.rst` which refers to 4.0.1, and that matches what I have in my local version.  I am not really familiar with how git submodules work, but it looks like I need to get things back in synch somehow.

[2020-11-24 01:52] dkirkby commented on #60
It looks like a fresh git clone gives you an empty `astropy_helpers` dir that `setup.py` fills using:
[code]
which picks up the latest (4.0.1) version.  I just checked that if I create an sdist now, the created tarfile has the current astropy_helpers.

[2020-11-24 02:00] dkirkby commented on #60
Ok, I just tagged and uploaded v0.11 which really does use astropy_helpers 4.0.1 in its tarfile.

@ntessore Can you check this when you get a chance?

[2020-11-24 02:07] ntessore commented on #60
Works for us now! 👍 Thank you!

[2020-11-24 05:11] sbailey commented on #60
I confirm that `pip install speclite==v0.11` works for me too.  Thanks.

[2020-11-24 05:11] #60 closed

[2020-11-24 11:13] ntessore commented on #60
You might want to consider removing or yanking the 0.9 and 0.10 releases on PyPI.

[2020-11-24 16:31] dkirkby commented on #60
@ntessore I just yanked 0.9 and 0.10 from PyPI.

[2021-01-18 16:13] moustakas commented on #40
Done in #62, thanks @dkirkby @segasai!

[2021-01-18 16:13] #40 closed

[2021-01-23 03:33] segasai commented on #34
Hi,

This code  will consistently corrupt the wavelength array
[code]
Output:
(array([ 2249, 40932]),) 3247.4999999999995 3247.3900000002864

IMO validate_wavelength_array() must make a copy even at a performance cost, because
the current behaviour is dangerous as it leads to silent corruption (i've encountered this bug while working on stdstars DESI script)

 S

[2021-01-26 17:38] dkirkby commented on #34
Thanks for this @segasai.   I will take care of this but presumably you can copy your wavelength array in the stdstars script so this is not blocking you?

[2021-01-26 17:52] segasai commented on #34
Yes, that's what I did for the time being.
I just was suggesting that given the danger of the bug, it may be worth putting a stopgap copy() inside validate_wavelength_array() now before coming with a proper fix, but that's just IMO.

[2021-02-09 20:54] dkirkby opened #64 "Padding method not propagated for filter group"
Calling `pad_spectrum`  on a `FilterSequence` does not propagate a non-default `method` arg when `pad_spectrum` is called on the individual filters.  The solution is to add `method`  below:
[code]
Thanks to Anand for reporting this.

[2021-04-30 03:19] tloredo opened #66 "SDSS filters missing atmospheric transmission factor?"
Hi specliters-

In trying to move to `speclite` from some quick-and-dirty synthetic photometry code of my own, using SDSS filters, I found that I could get my calculations to agree w/ `speclite` only by dropping the atmospheric transmission factor from the SDSS filter responses in my calculations.

The `speclite` documentation indicates that its SDSS filter responses are "calculated as the referen

[2021-05-04 15:22] dkirkby commented on #66
Thanks for reporting this @tloredo.  Looking back at my correspondence with Mamoru Doi, I see that I was confused about whether the atmosphere was already included in the Table 4 values (despite the fact that it is obvious from the curves).

At this point, I think the simplest fix is to update the metadata for the existing curves to reflect the fact that there is no atmospheric extinction included

[2021-07-29 17:31] moustakas opened #67 "module 'astropy.utils.data' has no attribute '_find_pkg_data_path'"
[code]

[2021-07-29 17:38] moustakas commented on #67
Looks like this private method was renamed and made public in version 4.3 (an unreleased version)--
https://docs.astropy.org/en/latest/changelog.html#id20

I'll revert back to astropy 4.2.1 for now.

[2021-08-12 12:53] mcbeth commented on #67
Something like this would fix it.  I'm working on permission for a PR (found and fixed at work), but it'd probably be faster for someone with commit to work on it.

[code]

[2021-08-12 13:08] moustakas commented on #67
Thanks @mcbeth. For the record, this was @weaverba137's fix in `desiutil`
  https://github.com/desihub/desiutil/pull/175/commits/4ec967626d8aa26ef025f8947b94c40dc63ba01d

[2021-08-12 14:34] mcbeth commented on #67
That also seems reasonable

[2021-08-17 07:34] grburgess commented on #67
I opened a PR that should fix this as it doesn't rely on astropy.

[2021-08-17 16:37] dkirkby commented on #67
Thanks for the PR @grburgess.  It looks good and I just added one minor suggestion.

[2021-08-18 14:46] dkirkby commented on #67
Fixed with #68  - thanks @grburgess!

[2021-08-18 14:46] #67 closed

[2021-09-03 14:22] moustakas opened #69 "accommodating a band_shifted filter curve?"
@dkirkby how straightforward would it be to add a `band_shift` optional input when calling `speclite.filters.load_filters` or as a (vector) input to the convolution methods like `filters.get_ab_maggies`?

I'm trying to implement https://github.com/desihub/fastspecfit/issues/43.

[2021-09-05 01:14] dkirkby commented on #69
I am not sure what you mean by band shifted.  Does this boil down to multiplying the wavelengths in a filter table by a constant factor when it is read in?

[2021-09-06 12:00] rrjbca commented on #67
Is there a plan for a release including this fix any time soon? Would certainly be appreciated by downstream projects!

[2021-09-07 13:49] rrjbca opened #70 "Latest speclite release incompatible with setuptools>=58.0.2"
The most recent release of speclite is incompatible with the most recent release of setuptools:

[code]

It looks like #65 already implemented the necessary fix, removing `use_2to3=True` from the setup function arguments. As a result, building from the `master` branch with `setuptools==58.0.2` is successful:

[code]

A new release off `master` should therefore be sufficient to resolve this issue.

[2021-09-07 14:46] dkirkby commented on #70
Thanks for reporting this @rrjbca.  I should be able take care of this tomorrow.

[2021-09-09 18:55] dkirkby commented on #66
I just updated the SDSS filter curve metadata to clarify that no atmosphere is included in these curves.

Closing this now, but feel free to add a new issue if you need a separate set of curves with the X=1.3 atmosphere included.

[2021-09-09 18:56] dkirkby commented on #70
I just tagged and [released](https://pypi.org/project/speclite/) v0.14 from master.

(for some reason, `git push --tags` is hanging for me, so this tag does not show up on github yet, but I will keep trying).

[2021-09-09 18:56] #70 closed

[2021-09-09 19:56] dkirkby commented on #67
Released as v0.14.

[2021-09-10 08:43] rrjbca commented on #70
Thanks @dkirkby this is now working with our downstream project

[2021-10-15 23:55] marcelo-alvarez opened #71 "astropy and numpy warnings"
When running
[code]
in an updated conda environment (including [Astropy v4.3](https://docs.astropy.org/en/stable/whatsnew/4.3.html) see [pkg_list.txt](https://github.com/desihub/desispec/files/7356389/pkg_list.txt) for the full package list) the following warnings occur:
[code]
When using astropy 4.0.1.post1, the unit tests for speclite have 6 warnings:
[code]

[2021-11-12 21:06] #71 closed

[2021-12-01 15:46] PatrickOgle opened #74 "find_pkg_data_path deprecated in Astropy 5.0"
sdss = speclite.filters.load_filters('sdss2010-*')

gives the following error in Astropy 5.0:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-42-c73b57f81d52> in <module>
----> 1 sdss = speclite.filters.load_filters('sdss2010-*')
      2 speclite.filters.plot_filters(sdss, wavele

[2021-12-01 18:45] sbailey commented on #74
It looks like this is already fixed in main (`get_path_of_data_file` uses Python standard library `pkg_resources.resource_filename` instead of astropy custom data finder), and I don't see any references to "get_pkg_data" or "find_pkg_data" in the code (admittedly, I don't have astropy 5.0 installed and haven't tried setting up a custom environment to test it).

i.e. do we just need a new speclite

[2021-12-03 19:53] PatrickOgle commented on #74
Actually, I just got it to work in Astropy 5.0 after reinstalling the latest speclite.  Maybe something was stale in my installation. Sorry for the false alarm.

[2021-12-03 19:55] #74 closed

[2022-03-18 14:22] chrislintott opened #75 "Citation instructions?"
Hi

Just came by to say it would be great if you could provide guidance to people trying to work out how to cite speclite. If there's nothing in the literature, I'd be happy to publish a brief Research Note (https://iopscience.iop.org/journal/2515-5172) if that's helpful.

[2022-03-19 18:58] dkirkby commented on #75
Thanks for the suggestion @chrislintott.  The easiest would be a citable zenodo DOI like [this](https://zenodo.org/record/4566008#.YjYnWJrMJqs).  Would that work for your purposes?

[2022-03-19 18:59] dkirkby commented on #75
I should also add a CITATION.cff file now that those are [supported](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files).

[2022-07-11 22:57] moustakas commented on #69
Looks like this functionality was always present--
  https://speclite.readthedocs.io/en/latest/api.html#shifted-filters
Closing!

[2022-07-11 22:57] #69 closed

[2022-07-12 17:40] moustakas commented on #66
@dkirkby would it be possible to add a new set of SDSS filter curves (and arguably make those the default) which include the atmosphere. I'm doing some comparisons with K-correct and only just realized that the discrepancies I'm seeing with my code are likely due to this issue.

[2022-07-12 17:43] moustakas commented on #66
Also note that this ticket is a duplicate of #39.

[2022-07-12 18:18] andreufont commented on #66
Could this be related to the discrepancies in data flux vs mock flux that
Alma and Hiram are seeing?

On Tue, 12 Jul 2022, 19:43 Moustakas, ***@***.***> wrote:

--
Avís -
Aviso - Legal Notice - (LOPD) - http://legal.ifae.es
<http://legal.ifae.es/>

[2022-07-19 18:48] moustakas commented on #39
Done in #76.

[2022-07-19 18:48] #39 closed

[2022-07-19 18:49] moustakas commented on #66
Done in #76.

[2022-07-19 18:49] #66 closed